* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.section {
  display: flex;
  justify-content: center;
}

.container{
  width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-board {
  container-type: inline-size;
}

.game-border {
  border: 1cqw solid #ebecd0;
}

.square {
  background-color: #739552;
  border: 1cqw solid #ebecd0;
  float: left;
  font-size: 30cqw;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
  width: calc(100% / 3);
  aspect-ratio: 1;
  position: relative;
}

.square-display-number {
  position: absolute;
  top: 0.5%;
  left: 2%;
  font-size: 5cqw;
  line-height: 1;
  color: #ebecd0;
}

.square-value {
  color: #f9f9f9;
  -webkit-text-stroke: 1.5cqw black;
  paint-order: stroke fill;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.turn-history-row {
  padding: 10px;
}

.turn-history-row:nth-child(even) {
  background-color: #fff;
}

.turn-history-row:nth-child(odd) {
  background-color: #f8f8f8;
}

.turn-history-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.turn-history-header-text {
  display: inline-block;
}

.turn-history-header-text, .turn-history-btn {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 5px 10px 5px 10px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 3px;
}

.turn-history-btn-highlighted {
  background-color: #fff35f;
  border-bottom: 3px solid #f2e65a;
}

@media (max-width: 767px) {
  .container {
    flex-wrap: wrap;
  }

  .game {
    flex-wrap: wrap;
  }
}
