* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #302e2b;
}

.section {
  display: flex;
  justify-content: center;
}

.container{
  width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-board {
  container-type: inline-size;
}

.game-border {
  border: 1cqw solid #ebecd0;
  border-radius: 10px;
}

.square {
  background-color: #739552;
  border: 1cqw solid #ebecd0;
  float: left;
  font-size: 30cqw;
  font-weight: bold;
  line-height: 34px;
  width: calc(100% / 3);
  aspect-ratio: 1;
  position: relative;
}

.square-display-number {
  position: absolute;
  top: 0.5%;
  left: 2%;
  font-size: 5cqw;
  color: #ebecd0;
}

.square-value {
  color: #f9f9f9;
  -webkit-text-stroke: 1.5cqw black;
  paint-order: stroke fill;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.turn-history-row {
  padding: 10px;
}

.turn-history-row:nth-child(even) {
  background-color: #fff;
}

.turn-history-row:nth-child(odd) {
  background-color: #f8f8f8;
}

.turn-history-btn {
  all: unset;
  cursor: pointer;
}

.turn-history-header-text {
  display: inline-block;
}

.turn-history-header-text, .turn-history-btn {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 3px;
}

.turn-history-btn-highlighted {
  background-color: #fff35f;
  border-bottom: 3px solid #f2e65a;
}

.turn-navigation-controls {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.turn-navigation-controls-btn, .turn-navigation-controls-btn-disabled {
  all: unset;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  padding: 8px 0px;
  width: 100%;
  background-color: #dad8d6;
  transition: background-color ease 0.2s;
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.1);
}

.turn-navigation-controls-btn:hover {
  background-color: #f1f1f1;
}

.turn-navigation-controls-btn-disabled {
  opacity: 0.25;
}

@media (max-width: 767px) {
  .container {
    flex-wrap: wrap;
  }

  .game {
    flex-wrap: wrap;
  }
}
